<h2> Редактирования комента </h2>
 <%= form_for [@post, @comment], html: {multipart: true} do |f| %>
 <% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |msg| %>
   <div class="alert alert-danger"> <%=msg %></div>
    <%end%>
  <%end%>
  	
 <p>
  Названия<br>
 <%= f.text_field(:username) %>
</p>
<p>
 Текст статьи<br>	
 <%= f.text_area(:body) %>	
</p>
<p>
  <%= f.file_field :image %>	 
</p>
<p>
<%=f.submit "Сохранить", class: 'btn btn-success' %>
</p>
<% end %>


