<title>Главная страница Блога</title>
<% if user_signed_in?%>
    <span>Здравствуйте! <%=current_user.username %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
    <%=link_to "Добавления статьи", new_post_path %>
    <%= yield %>

<%if @post.empty? %>
 <h1>Пока нет записей в Блоге</h1>
  
 <%else %>
<h1> Все посты Блога </h1>

<%@post.each do |post|%>
<div class="alert alert-light">
	
 <h3> <%=post.title %> </h3>
 <p> <%=post.body%></p>
 <h2>Пост <%=post.user.username%></h2>
  <%=link_to "Читать далее", post_path(post), :class => 'btn btn-outline-primary'%>
</div>
<br>
 <% end %>
  <% end %>
  
  


 
 
