<% if user_signed_in? && @post.user==current_user %>
    <span>Здравствуйте, <%= current_user.username %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    
<% end %>
    <%=link_to "Главная страница", home_path %> &nbsp; &nbsp;
    <%=link_to "Добавления статьи", new_post_path %>
    
<h2> Добавления нового поста</h2>
 <%= form_for :post, html: {multipart: true}, url: posts_path do |f| %>
 <% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
   <div class="alert alert-danger"> <%=msg %></div>
    <%end%>
  <%end%>	

 <p>
  Названия<br>
 <%= f.text_field(:title) %>
</p>
<p>
 Текст статьи<br>	
 <%= f.text_area(:body) %>	
</p>
<p>
  <%= f.file_field :image %>	 
</p>
<p>
<%=f.submit "Сохранить", class: 'btn btn-success' %>
</p>
<% end %>







