<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.username %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
    <%=link_to "Главная страница", home_path %> &nbsp; &nbsp;
    <%=link_to "Добавления статьи", new_post_path %>
    
<h3>Пользователь <%=@post.user.username%></h3>
<h1><%=@post.title %> </h1>

<p><%=@post.body %></p>

<p>
 <%= image_tag @post.image.url(:thumb), class: 'img-show' if @post.image? %>
</p>	
<hr>


<% if user_signed_in? && @post.user==current_user %>
<%= link_to "Редактировать", edit_post_path(@post), :class=> 'btn btn-warning' %>
<%= link_to "Удалить пост", post_path(@post), method: :delete, data: {confirm:"Вы хотите удалить статью  ?"}, :class => 'btn btn-danger'%>

   <%end%>  
  <% if @post.comments.size > 0 %>
     <h2>Вcе коментарии  <%=@post.comments.count %> </h2> 
     <% end %>
  <% @post.comments.each do |comment| %>
  <div class="alert alert-light">
       <p>Ник <strong><%=comment.user.username%></strong></p>
   <p><strong><%=comment.username%></strong> <br> <%=comment.body%> <%= image_tag comment.image.url(:thumb), class: 'img-show' if comment.image? %> </p>  
  </div>
   <% if user_signed_in? %>
  <%= link_to "Удалить Коммент", post_comment_path(@post, comment), method: :delete, data: { confirm: "Вы хотите удалить?" }, :class => 'btn btn-danger'%>
 <%= link_to "Редактировать комент", edit_post_comment_path(@post, comment), :class=> 'btn btn-warning' %>
    
  <% end %>  
    <% end %>
  

      
  
<% if user_signed_in? %>
 <%=form_for([@post, @post.comments.build]) do |f| %>
 <p>
  Пользователь<br>
    <%=f.text_field(:username)%>
 </p>
 
 <p>
   Текст комментария<br>
    <%= f.text_area(:body)%>
  </p>
  <p>
   <%= f.file_field :image %>
   </p>
  <p>
   <%= f.submit "Добавить Коментарий",:class=> 'btn btn-success' %>
  </p>
  
  <% end %>
   <% end %>
  

  
